/* src/App.css */
/* App.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0rem 1rem
}

.login-container input {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.login-container button {
  padding: 10px 20px;
  margin: 10px;
}
.error-message {
  color: red;
  margin-top: 10px;
}

.error {
  border: 2px solid red;
}

button {
  cursor: pointer;
}

header {
  background: #282c34;
  padding: 20px;
  color: white;
}
.content-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.event-card-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #0000003d; 
  padding-right: 10px;
}

.event-initial {
  font-size: 50px;
  font-weight: bold;
}

.event-card-right {
  flex: 3;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.available-events, .selected-events {
  width: 45%;
}

.event-card, .selected-event-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
}

.event-card button, .selected-event-card button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.event-card.selected {
  background: #d4edda;
  border-color: #c3e6cb;
}

.event-card.disabled {
  background: #f8d7da;
  border-color: #f5c6cb;
}

.event-card.disabled button {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .event-list {
    flex-direction: column;
  }

  .available-events, .selected-events {
    width: 100%;
  }

  .event-card, .selected-event-card {
    flex-direction: column;
    text-align: left;
  }

  .event-card-left {
    border-right: none;
    border-bottom: 2px solid #ddd; /* Adjust border for mobile */
    padding-right: 0;
    padding-bottom: 10px; /* Add padding for better spacing */
  }

  .event-initial {
    font-size: 40px; /* Adjust size for mobile */
  }

  .event-card-right {
    padding-left: 0;
    padding-top: 10px; /* Add padding for better spacing */
  }
}
